tqdm
rotary_embedding_torch
transformers==4.19
tokenizers
inflect
progressbar
einops==0.4.1
unidecode
scipy==0.10.1
librosa==0.9.1
numba==0.48.0
ffmpeg
numpy==1.20.0
numba==0.48.0
torchaudio
threadpoolctl
llvmlite
appdirs