tqdm
rotary_embedding_torch
transformers==4.31.0
tokenizers
inflect
einops==0.4.1
unidecode
scipy
librosa==0.9.1
ffmpeg
numpy==1.24.1
numba
torchaudio
threadpoolctl
llvmlite
appdirs
nbconvert==5.3.1
tornado==4.2
pydantic==1.9.1
deepspeed==0.8.3
py-cpuinfo
hjson
psutil
sounddevice
spacy==3.7.5
# for api
uvicorn==0.30.5
google_auth_oauthlib==1.2.1
python-dotenv==1.0.1
fastapi==0.112.0
beartype==0.18.5